@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(217, 100%, 97%);
  font-family: "Ubuntu", sans-serif;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin: 8rem auto 0 auto;
  height: 70rem;
  width: 120rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

aside {
  height: 66rem;
  width: 40rem;
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
}

aside > div {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.aside-primary {
  display: flex;
  margin-bottom: 3rem;
}

.btn {
  background-color: transparent;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
  border: 0.2rem solid hsl(0, 0%, 100%);
}

.btn p {
  font-size: 1.6rem;
  padding: 1rem 1.4rem;
  font-weight: 500;
}

.text {
  padding-left: 2rem;
  color: hsl(0, 0%, 100%);
}

.text p {
  font-size: 1.2rem;
}

.text h3 {
  margin-top: 0.5rem;
  font-size: 1.6rem;
}

.step {
  display: none;
  width: 80rem;
  padding: 5rem 12rem 0 12rem;
}

.heading h1 {
  color: hsl(213, 96%, 18%);
  font-size: 4rem;
}

.heading p {
  color: hsl(231, 11%, 63%);
  margin-top: 1rem;
  font-size: 2rem;
}

.personal_info {
  margin-top: 5rem;
}

.required {
  display: flex;
  justify-content: space-between;
}

.required p {
  display: none;
  font-size: 1.8rem;
  color: hsl(354, 84%, 57%);
  font-weight: 700;
}

label {
  font-size: 1.8rem;
  color: hsl(213, 96%, 18%);
}

input:focus {
  outline: none !important;
  border: 0.2rem solid hsl(213, 96%, 18%);
}

input {
  width: 100%;
  padding: 1.5rem;
  margin: 0.8rem 0 2rem 0;
  border-radius: 0.8rem;
  border: 0.1rem solid grey;
  cursor: pointer;
}

.steps-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.steps-container {
  height: 80%;
}

input[type="text"] {
  color: hsl(213, 96%, 18%);
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}

input[type="email"] {
  color: hsl(213, 96%, 18%);
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  color: hsl(213, 96%, 18%);
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}

.buttons_container {
  width: 80rem;
  padding: 5rem 12rem 0 12rem;
  height: 20%;
}

button {
  font-size: 1.8rem;
  border: none;
  font-family: "Ubuntu", sans-serif;
  border-radius: 0.8rem;
  cursor: pointer;
  padding: 2rem;
}

.btn-back {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
  background-color: transparent;
  float: left;
}

.btn-back:hover {
  color: hsl(213, 96%, 18%);
}

.btn-next {
  background-color: hsl(213, 96%, 18%);
  color: hsl(217, 100%, 97%);
  float: right;
}

.btn-next:hover {
  opacity: 0.8;
}

.btn-confirm {
  background-color: hsl(243, 100%, 62%);
  color: hsl(217, 100%, 97%);
  float: right;
}

.btn-confirm:hover {
  opacity: 0.8;
}

.plan_container {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.main-box {
  height: auto;
  width: 16rem;
  border: 0.1rem solid hsl(231, 11%, 63%);
  border-radius: 0.8rem;
  padding: 2rem;
}

.main-box:hover {
  cursor: pointer;
  border: 0.2rem solid hsl(243, 100%, 62%);
}

.main-box-selected {
  cursor: pointer;
  border: 0.2rem solid hsl(243, 100%, 62%);
  background-color: hsl(217, 100%, 97%);
}

.main-box h1 {
  color: hsl(213, 96%, 18%);
  margin-top: 4.2rem;
  font-size: 2rem;
}

.main-box p {
  margin-top: 0.4rem;
  color: hsl(231, 11%, 63%);
  font-size: 1.5rem;
}

p.free {
  display: none;
  color: hsl(213, 96%, 18%);
}

.toggle_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  width: 100%;
  height: 5rem;
  background-color: hsl(217, 100%, 97%);
  border-radius: 0.8rem;
  color: hsl(231, 11%, 63%);
  font-size: 1.5rem;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.5rem;
  margin: 0 2rem;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(213, 96%, 18%);
}

input:focus + .slider {
  box-shadow: 0 0 0.1rem hsl(213, 96%, 18%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(2.6rem);
  -ms-transform: translateX(2.6rem);
  transform: translateX(2.6rem);
}

.slider.round {
  border-radius: 3.4rem;
}

.slider.round:before {
  border-radius: 50%;
}

.addons_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
}

.horizontal-box {
  display: flex;
  padding: 2.5rem;
  width: 100%;
  height: 9rem;
  border: 0.1rem solid hsl(231, 11%, 63%);
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}

.horizontal-box:hover {
  cursor: pointer;
  border: 0.1rem solid hsl(243, 100%, 62%);
}

.horizontal-box-selected {
  cursor: pointer;
  background-color: hsl(217, 100%, 97%);
  border: 0.1rem solid hsl(243, 100%, 62%);
}

.addon {
  width: 80%;
  display: flex;
}

.addons-check {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 0.5rem;
  margin-top: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;
  border: 0.1rem solid hsl(231, 11%, 63%);
}

.checklist {
  background-color: hsl(243, 100%, 62%);
  border: none;
}

.addons-text {
  margin-left: 2rem;
}

.addons-text h1 {
  color: hsl(213, 96%, 18%);
  font-size: 1.6rem;
}

.addons-text p {
  color: hsl(231, 11%, 63%);
  margin-top: 0.4rem;
  font-size: 1.5rem;
}

.addons-price {
  color: hsl(243, 100%, 62%);
  margin: 1rem 0 0 16rem;
  font-size: 1.5rem;
  width: 20%;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  width: 100%;
  background-color: hsl(217, 100%, 97%);
  margin-top: 4rem;
  border-radius: 1.2rem;
  padding: 2.5rem;
}

.summary hr {
  margin: 1.5rem 0;
}

.summary-plan {
  display: flex;
  justify-content: space-between;
}

.summary-plan-name h1 {
  color: hsl(213, 96%, 18%);
  font-size: 2rem;
}

.summary-plan-name h3 {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  color: hsl(231, 11%, 63%);
  font-size: 1.6rem;
  font-weight: lighter;
}

.summary-plan-name h3:hover {
  cursor: pointer;
  color: hsl(243, 100%, 62%);
}

.summary-plan-price h1 {
  color: hsl(213, 96%, 18%);
  font-size: 2rem;
}

.summary-addons {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.summary-addons-name h3 {
  color: hsl(231, 11%, 63%);
  font-size: 1.7rem;
  font-weight: 400;
}

.summary-addons-price h3 {
  font-weight: lighter;
  color: hsl(213, 96%, 18%);
  font-size: 1.5rem;
}

.total {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}

.total-plan h3 {
  color: hsl(231, 11%, 63%);
  font-size: 1.9rem;
  font-weight: 500;
}

.total-price h1 {
  color: hsl(243, 100%, 62%);
  font-size: 2.5rem;
}

.thank_you_content_wrapper {
  margin-top: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thank_you_content_wrapper h1 {
  color: hsl(213, 96%, 18%);
  font-size: 3.5rem;
  text-align: center;
  margin-top: 2rem;
}

.thank_you_content_wrapper p {
  color: hsl(231, 11%, 63%);
  margin-top: 1rem;
  font-size: 1.9rem;
  text-align: center;
  line-height: 3rem;
}

.attribution {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (max-width: 575px) {

  html {
    font-size: 46%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: hsl(217, 100%, 97%);
    border-radius: 0;
    padding: 0;
    box-shadow: 0;
  }

  aside {
    flex: 1;
    width: 100%;
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
  }

  aside > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 10rem;
    width: 100%;
  }

  .btn {
    background-color: transparent;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    color: hsl(0, 0%, 100%);
    border: 0.2rem solid hsl(0, 0%, 100%);
  }

  .btn p {
    text-align: center;
    font-size: 2rem;
    padding: 1.4rem 0;
    font-weight: 500;
  }

  .text {
    display: none;
  }

  .steps-wrapper {
    flex: 3;
    background-color: hsl(217, 100%, 97%);
  }

  .steps-container {
    height: 85%;
  }
  

  .step {
    display: none;
    width: 90%;
    height: 100%;
    margin: -10rem auto 0 auto;
    padding: 4rem 3rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.2rem;
  }

  .buttons_container {
    background-color: hsl(0, 0%, 100%);
    height: 15%;
    width: 100%;
    padding: 2.5rem;
  }

  .plan_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
    height: auto;
  }
  
  .main-box {
    display: flex;
    height: auto;
    width: 100%;
    border: 0.1rem solid hsl(231, 11%, 63%);
    border-radius: 0.8rem;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
  }

  .main-box h1 {
    margin-top: .8rem;
  }

  .main-box svg {
    margin-right: 2rem;
  }

  .toggle_container {
    margin-top: 2rem;
  }

  .horizontal-box {
    display: flex;
    position: relative;
  }

  .addon {
  min-width: 80%;
}

.checklist {
  background-color: hsl(243, 100%, 62%);
  border: none;
}

.addons-text {
  margin-left: 2rem;
}

.addons-text h1 {
  color: hsl(213, 96%, 18%);
  font-size: 1.6rem;
}

.addons-text p {
  color: hsl(231, 11%, 63%);
  margin-top: 0.4rem;
  font-size: 1.5rem;
}

.addons-price {
  color: hsl(243, 100%, 62%);
  margin: 1rem 0 0 16rem;
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
}

.thank_you_content_wrapper {
  margin-top: 10rem;
}

  .attribution {
    display: none;
  }
}
